html {
    box-sizing: border-box;
    background-color: white;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;

}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    background-color: white;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;

    /*border: 1px solid black;*/
}

.box_blue{
    background-color: #70b8f2;
    width: 1200px;
    height: 22px;


    /*border: 1px solid black;*/
}

.index{
    height: 137px;
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    padding-bottom: 27px;

    /*border: 1px solid black;*/
}

.index ul{
    list-style-type: none;
    display: flex;
    margin-bottom: 0px;

    /*border: 1px solid black;*/
}

.index li{
    list-style-type: none;
    background: rgba(112,184,242,0.2);   
    height: 25px;
    width: 119px;
    font-family: "Arial";
    font-size: 13px;
    margin-right:20px;
    text-align: center;
    margin-bottom: 0px;

    /*border: 1px solid black;*/
}

.divOver{
    list-style-type: none;
    background: rgba(112,184,242,1);   
    height: 25px;
    width: 119px;
    font-family: "Arial";
    font-size: 13px;
    margin-right:20px;
    text-align: center;
    margin-bottom: 0px;
} 

.index a{
    text-decoration: none;
    color: black;
    line-height: 25px;

    /*border: 1px solid black;*/
}

.logo{
    width: 422px;
    height: 72px;
    margin-left:20px;
    margin-right: 25px;

    /*border: 1px solid black;*/
}

.home{
    width: 1200px;
    height: 485px;
    padding-bottom: 22px;
    background-color: #fec054;
}

.box_3 h1{
    color: white;
    font-size: 40px;
    font-family: Arial;
    line-height: 64px;
    text-align: center;
}

.tit {
    color: white;
    font-size: 40px;
    font-family: Arial;
    line-height: 64px;
    margin: 0px;
    
}

.box_2{
    background-color: #fec054;
    height: 64px;
    width: 1200px;
    padding-left: 20px;
    margin: 0px;

}

.box_3{
    background-color: #70b8f2;
    height: 64px;
    width: 1200px;
}

.box_orange{
    background-color: #fec054;
    height: 22px;
    width: 1200px;
}

.img_home{
    width: auto;
    height: auto;
    display: flex;
    justify-content:center;
    /* border: 1px solid #000; */
    margin-bottom: 30px;
    margin-top: 30px;
    /* padding-left: 80px; */

}

.img_1{
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    position:relative;
    margin-right: 15px;
}

.img_2{
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    position:relative;
}

.img_h_1{
    height: 644px;
    width: 486px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 15px;
}

.img_h_2{
    height: 778px;
    width: 489px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 15px;
}

.img_h_3{
    height: 317px;
    width: 486px;
    margin: 0px;
    padding: 0px;
    position:absolute;
	bottom:0px; 
}

.click{
    height: 188px;
    width: 492px;
    margin: 0px;
    padding: 0px;
    /* position:absolute;
	bottom:0px; */
}


footer{
    margin-top: 22px;
    height: 116px;
    width: 1200px;
    margin-top: 0px;
    margin-bottom: 0px;
    background: #fec054;

    /* border: 1px solid black; */
}


footer p{
    font-size: 18px;
    color: white;
    line-height: 116px;
    text-align: center;
    background-color: #70b8f2;
    height: 116px;
    width: 1200px;

    /*border: 1px solid black;*/
}

.box_contact{
    height:460px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 163px;
    margin-right: 220px;
    padding-top: 116PX;

}

.box_contact_img{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.box_contact_img p{
    font-family: Microsoft JhengHei;
    color: #70b8f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

.works_img{
    height: 816px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.exper_img{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 40px;
}

.about{
    height: 816px;
    margin-left: 130px;
    margin-right: 140px;
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 40px;
    margin-bottom: 60px;
}

.about_img{
    margin: 0px;
    padding: 0px;
}

.about_text{
    width:374px; 
    height:280px;
    margin: 0px;
    padding: 0px;
    font-family:  Microsoft JhengHei;
}

.pt{
    font-size: 20px;
}

.pi{
    font-size: 15px;
}

